
<p>User info</p>
<div>
  <%= attachment_image_tag @user, :profile_image ,fallback: "no_image.jpg" %>
  <p>name:<%= @user.name %></p>
  <p>introduction : <%= @user.introduction %></p>

<%= link_to edit_user_path(@user), class: "btn btn-secondary" do %>
<i class="fas fa-user-cog"></i>
<% end %>

<!--Bookersから-->

<h2>New book</h2>
<%= form_with model:@book, local:true do |f| %>
<h6>Title</h6>
<%= f.text_area :title%>
<h6>Opinion</h6>
<%= f.text_area :body %>
<p><%= f.submit 'Create Book' ,class: "btn btn-success" %></p>
<% end %>



<h1>Books</h1>
<% @books.each do |book| %>
<p>Title</p>
<span><%= book.title %></span>
<h1>Opinion</h1>
<span><%= book.body %></span>

<% end %>

<foot>CopyRight Infratop.inc</foot>