   <p id="notice"></p>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
       <h1>Editing Book</h1>
      　<% if @book.errors.any? %>
        <%= @book.errors.count %>errors prohibited this obj from being saved
        <% @book.errors.full_messages.each do |message| %>
        <%= message %>
  <% end %>
 <% end %>
       <%= form_with model:@book, local:true do |f| %>
  <label for="Title">Title</label>
  <br><%= f.text_field :title, autofocus: true, id:"Title", placeholder:"Title"%>
   <br><label for="Opinion">Opinion</label>
  <br><%= f.text_field :body, autofocus: true, id:"body", placeholder:"Opinion"%>
  <br><%= f.submit "Update Book" %>
   <br><td>  <%= link_to "show", user_path(@user.id) %></td>
   |
   <td>  <%= link_to "back", book_path(@book) %></td>
<% end %>
   </div>
  </div>
</div>
